.loading {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 300;
  }
}

.box {
  padding: 40px 30px 30px 30px;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  button {
    width: 90px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid rgb(110, 87, 123);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.send:hover {
  background: #293929;
  border-color: #557655;
}

.new:hover {
  background: #304848;
  border-color: #557476;
}

.card-client-space {
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 8px;
}

.teste {
  width: 100%;
  height: 10px;
  background: #f09f;
}
