.loading {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 300;
  }
}

.box {
  padding: 40px 30px 30px 30px;
}
.box-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 30px;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;

  button {
    width: 90px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid rgb(110, 87, 123);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.send:hover {
  background: #293929;
  border-color: #557655;
}

.new:hover {
  background: #304848;
  border-color: #557476;
}

.content-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 30px;
}

.card-client-space {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
  align-items: center;
  justify-content: flex-start;
  max-width: 560px;
  max-height: 700px;
  overflow-y: auto;
  flex-direction: column;
  gap: 10px;
}

@media (height <= 820px) {
  .card-client-space {
    max-height: 500px;
  }
}

// .teste {
//   height: 10px;
//   background: #f09f;
// }
