$background-color: #242424;
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: $background-color;
  font-family: $font-family;
}

a,
button {
  cursor: pointer;
}
